# Visual Studio
.vs/
*.user
*.suo
bin/
obj/

# Python
__pycache__/
*.py[cod]
*$py.class
*.venv/
env/
venv/

# Temporary and local logs
logs/
*.log
~$*
*backup.pbix
dwbi_project_extracted/
fg_extracted/

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
